{
  "env": {
    "browser": true,
    "es6": true,
    "jasmine": true
  },
  "extends": "standard",
  "installedESLint": true,
  "plugins": [
    "standard",
    "jasmine"
  ],
  "rules": {
    "semi": ["error", "always"]
  }
}
